/* Fonts */
/* font-family: 'Nanum Gothic', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Grid */

.index-grid {
    grid-template: "header" "home" "row1" "row2" "row3" "row4" "img-bottom" "footer";
}

/* Header */

.header-container {
    grid-area: header;
    background-color: #000;
    width: 100%;
    height: 54px;
    top: 0;
    left: 0;
    position: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0 15px;
}

.logo-container {
    width: 150px;
}

.logo {
    width: 150px;
}

.nav-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #000;
    transform: translateY(-100%);
    transition:  transform  .5s ease-in-out;
}

.nav-item {
    position: relative;
    top: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-weight: 300;
}

.nav-item a {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.nav-menu-visible {
    transform: translateY(0%);
}

.nav-toggle {
    background: none;
    border: none;
    z-index: 2;
}

.nav-toggle div {
    width: 25px;
    height: 3px;
    background-color: #7c7c7c;
    margin: 6px;
}

/* Home Page */

.home {
    grid-area: home;
    width: 100%;
    height: auto;
}

.home img{
    margin-top: 20px;
    width: 100%;
}

/* Galery */

.galery-item-1 {
    grid-area: row1;
    width: 100%;
    height: auto;
    padding: 8px 10px 0 10px;
}

.galery-item-2 {
    grid-area: row2;
    width: 100%;
    height: auto;
    padding: 8px 10px;
}

.galery-item-3 {
    grid-area: row3;
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.galery-item-4 {
    grid-area: row4;
    width: 100%;
    height: auto;
    padding: 8px 10px 0 10px;
}

.galery-item-bottom {
    grid-area: img-bottom;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

/* Footer */

.footer {
    grid-area: footer;
    width: 100%;
}

.hospitality {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    line-height: 60px;
    text-align: center;
}

.hospitality-item-uno img {
    width: 112.23px;
    height: 23.33px;
}

.hospitality-item-dos img {
    width: 123.5px;
    height: 21.16px;
}

.hospitality-item-tres img {
    width: 43.23px;
    height: 23.33px;
}

.hospitality-item-cuatro img {
    width: 49.72px;
    height: 23.33px;
}

.hospitality-item-cinco img {
    width: 123.5px;
    height: 21.91px;
}

.hospitality-item-seis img {
    width: 123.5px;
    height: 19.44px;
}

.hospitality-item-siete img {
    width: 38.45px;
    height: 23.33px;
}

.hospitality-item-ocho img {
    width: 48.09px;
    height: 23.33px;
}

.hospitality-item-nueve img {
    width: 43.23px;
    height: 23.33px;
}

.hospitality-item-diez img {
    width: 14.58px;
    height: 23.33px;
}

/* Mobi-Sicky */

.mobi-sticky {
    width: 100%;
    height: 25px;
    border: 1px solid #fff;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 2px;
}

.mobi-sticky ul {
    line-height: 2px;
}

.mobi-footer-item a {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

/****
 Hours 
 ****/

.main-grid {
    grid-template: "header" "main" "map" "footer";
}

.hours-location-container {
    grid-area: main;
    width: 100%;
    height: 100%;
    padding: 80px 15px 50px 15px;
}

.hours-location {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    
}

.hours-location h1 {
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 40px 0;
}

.direction-item {
    line-height: 24px;
}

.direction-item a {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

.hours-item {
    line-height: 40px;
    margin-top: 15px;
}

.hours-item p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13.5px;
}

/* Maps */

.map-container {
    grid-area: map;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.map-container img {
    width: 100%;
    z-index: -1;
}

.btn-map {
    background-color: #2e2e2e;
    position: absolute;
    width: 40%;
    padding: 12px 5px;
    z-index: 999;
    border: 1px solid #fff;
    margin-bottom: 50px;
}

.btn-map a {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
}

/*****
MENUS 
******/
.menus-grid {
    grid-template: "header" "main" "footer";
}

.main-menu {
    grid-area: main;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.btn-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 130px 15px 40px 15px;
}

.menu-item {
    border: 1px solid #c4c4c4;
    padding: 11px 16px 8px 16px;
    margin: 0 4px 16px 4px;
}

.btn-menu a {
    color: #c4c4c4;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.date {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.img-item img{
    width: 100%;
    align-items: center;
    padding: 0 15px;
}