/* Fonts */

/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Grid */

.index-grid {
    display: grid;
    grid-template: "header" 54px "home" "main" "img-bottom" "footer" "sticky" 25px;
}

/* Header */

.header-container {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 54px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.logo-container {
    width: 150px;
}

.logo {
    width: 154px;
    height: 24px;
}

.nav-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #000;
    transform: translateY(-100%);
    transition:  transform  .5s ease-in-out;
}

.nav-item {
    position: relative;
    top: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-weight: 300;
}

.nav-item a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.nav-menu-visible {
    transform: translateY(0%);
}

.nav-toggle {
    background: none;
    border: none;
    z-index: 2;
    margin-bottom: 10px;
}

.nav-toggle div {
    width: 25px;
    height: 3px;
    background-color: #7c7c7c;
    margin: 5px 4px;
}

/* Footer */

.footer {
    grid-area: footer;
    width: 100%;
}

.hospitality {
    width: 100%;
    display: flex;
    margin: 10px 20px 30px 0px;
    line-height: 40px;
    text-align: center;
}

.hospitality > * {
    flex-basis: 100%;
}

.hospitality-item-uno img {
    width: 112.23px;
    height: 23.33px;
}

.hospitality-item-dos img {
    width: 123.5px;
    height: 21.16px;
}

.hospitality-item-tres img {
    width: 43.23px;
    height: 23.33px;
}

.hospitality-item-cuatro img {
    width: 49.72px;
    height: 23.33px;
}

.hospitality-item-cinco img {
    width: 123.5px;
    height: 21.91px;
}

.hospitality-item-seis img {
    width: 123.5px;
    height: 19.44px;
}

.hospitality-item-siete img {
    width: 38.45px;
    height: 23.33px;
}

.hospitality-item-ocho img {
    width: 48.09px;
    height: 23.33px;
}

.hospitality-item-nueve img {
    width: 43.23px;
    height: 23.33px;
}

.hospitality-item-diez img {
    width: 14.58px;
    height: 23.33px;
}

/* Mobi-Sicky */

.mobi-sticky {
    grid-area: sticky;
    width: 100%;
    background-color: #000;
    border: 1px solid #fff;
    padding: 22px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.mobi-sticky ul {
    line-height: 0px;
}

.mobi-footer-item a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Index Home Page */

.home-image-container {
    grid-area: home;
    width: 100%;
    height: auto;
    border-top: 1px solid #7c7c7c;
}

.home-image {
    background-image: url(../img/homepage/home-page-img-1.webp);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    opacity: 1;

}

/* Galery */

.main-grid {
    grid-area: main;
}

.galery-item-1 {
    width: 100%;
    height: auto;
    padding: 8px 10px 8px 10px;
}

.galery-item-2 {
    width: 100%;
    height: auto;
    padding: 0 10px 8px 10px;
}

.galery-item-3 {
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.galery-item-4 {
    width: 100%;
    height: auto;
    padding: 8px 10px 10px 10px;
}

.bottom-img-container {
    grid-area: img-bottom;
}

.bottom-img {
    background-image: url(../img/homepage/home-page-img-6.webp);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
}

/****
 Hours 
 ****/

.main-grid {
    display: grid;
    grid-template: "header" "main" "map" "footer";
}

.hours-location-container {
    grid-area: main;
    width: 100%;
    height: 100%;
    padding: 80px 15px 50px 15px;
}

.hours-location {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.hours-location h1 {
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 40px 0;
}

.direction-item {
    line-height: 24px;
}

.direction-item a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

.hours-item {
    line-height: 40px;
    margin-top: 15px;
}

.hours-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 13.5px;
}

/* Maps */

.map-container {
    grid-area: map;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.map-container img {
    width: 100%;
    z-index: -2;
}

.btn-map {
    background-color: #2e2e2e;
    position: absolute;
    width: 40%;
    padding: 12px 5px;
    z-index: -1;
    border: 1px solid #fff;
    margin-bottom: 50px;
}

.btn-map a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/*****
MENUS 
******/
.menus-grid {
    display: grid;
    grid-template: "header" "main" "footer";
}

.main-menu {
    grid-area: main;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.btn-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 130px 15px 40px 15px;
}

.menu-item {
    border: 1px solid #c4c4c4;
    padding: 11px 16px 8px 16px;
    margin: 0 4px 16px 4px;
}

.btn-menu a {
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.date {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.img-item img{
    width: 100%;
    align-items: center;
    padding: 0 15px;
}

/****
About
****/

.about-grid {
    display: grid;
    grid-template: "header" "main" "footer";
}

.main-about-container {
    grid-area: main;
    margin: 65px 1px 0 1px;

}

.img-about img {
    width: 100%;
    padding: 0 .6rem;
}

.article-about {
    color: #fff;
    margin-top: 82px;
    font-weight: 300;
}

.article-about h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 0 1.5rem 0;
}

.article-about p {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 0 3.5rem 1rem 3.5rem;
    letter-spacing: .2px;
}

/*****
Work
*****/

.work-grid {
    display: grid;
    grid-template: "header" "main" "footer";
}

.work-grid {
    grid-area: main;
}

.main-work-container {
    padding: 8rem 1rem 5rem 1rem;
}

.intro-work {
    color: #fff;
}

.intro-work h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 25px;
}

.intro-work p {
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    line-height: 23px;
    margin-bottom: 3.5rem;
}

.contact input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.contact textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    color: rgb(5, 5, 5, .7);

}

.btn-resume {
    color: #fff;
}

.btn-resume h2 {
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    font-weight: 300;
    margin: 1.5rem 0 .8rem 0;
}

.btn-resume button {
    width: 40%;
    padding: 1px 0;
    margin-bottom: 2rem;
}

.btn-resume button p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.btn-apply {
    width: 100%;
    background: none;
    padding: 16px 8px 11px 8px;
    margin: 16px 0;
    border: 1px solid #fff;
}

.btn-apply p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}